<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ape_nombre %>
    <%= form.text_field :ape_nombre, id: :person_ape_nombre %>
  </div>

  <div class="field">
    <%= form.label :dni_cuil %>
    <%= form.text_field :dni_cuil, id: :person_dni_cuil %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :person_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
