<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @court.nombre %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @court.observacion %>
</p>

<%= link_to 'Edit', edit_court_path(@court) %> |
<%= link_to 'Back', courts_path %>
